/*  CSS by Jorge Encarnação - @jfgen on Twitter */

@media screen and (max-width: 1281px){
	section{width:100%;}
	#block01{ width: 70%; padding: 0;}	
	button{font-size: 0.75em; width: 80%; height: 40px;}
	.output{display: none;}
	h1{font-size: 1.0em;}
}
@media screen and (max-width: 599px){
	section{width:100%;}
	#block01{ width: 100%; padding: 0;}	
	body{background-color: #000;}
 	header{border-top: none;}
 	h1{background: none; font-size: 0.9em; line-height: 1; height: auto; margin-bottom: 15px;}
 	section,.block01,.toggles,fieldset, button{width: 100%;	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
 	fieldset{border: none; margin:0;}
 	legend{display: none;}
 	button{padding-left: 0; height: 44px; margin: 1px 0; background: none; -webkit-box-shadow:  0px 2px 1px 1px rgba(189, 16, 67, 0.5);
 			box-shadow:  0px 2px 1px 1px rgba(189, 16, 67, 0.2); -webkit-border-radius: 6px; border-radius: 15px; font-size: 1em; text-align: right; padding-right: 20px;  } 	
    button:active{ -webkit-box-shadow:  0px 2px 1px 1px rgba(189, 16, 67, 0.5);	box-shadow:  0px 2px 1px 1px rgba(189, 16, 67, 0.2);}
    .logo{display: none;/*temporary solution*/}
    button:after{ height:15px; width:15px; margin-top: -7px;}
    footer{margin: 15px 0;}
    .credits{color:#FFF; font-size: 0.85em}
} 
 