body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#edeceb;  
}

a {
  color: #00B7FF;
}

.block01 {
  position:absolute;
  left:20px;
  top:20px; 
  width:400px;  	
}

.block02 {
  position:absolute;
  left:20px;
  top:200px; 
  width:400px;
}